
<!-- RETRIEVE -->
<%= person.name %>,<%= person.age %>
<br><br>


<!-- delete -->
<form action="/person/delete/<%= person.id %>" method="POST">
    <button type="delete" class="btn btn-primary">delete</button>
   
</form>
   
